body {
    background-color: #A0E6EA;
    margin: 0;
}

.header {
    padding: 10px;
    text-align: center;
    height: 80px;
    background-color: #00D3E1;
    
}

.hakuvalikot {
    margin-top: 50px;
    margin-left: 18%;
    display: flex;
}

select {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: gainsboro;
}

select option {
    background-color: white;
}

#paikkakunta {
    text-align: center;
    width: 250px;
}

#toimiala {
    text-align: center;
    width: 250px
}

#ytunnus {
    width: 250px;
    padding: 10px 20px;
    border-radius: 5px;
}

input[type=submit] {
    width: 80px;
    padding: 12px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}

input[type=submit]:hover {
    background-color: rgb(66, 66, 66);
    transition: 0.2s;
}

.center {
    position: absolute;
    top: 43%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}